.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body {
    margin: 0;
    background-color: #faf4d3;
  }
  h1 {
    margin: 0;
    text-align: center;
    font-family: "Share Tech";
    color: #faf4d3;
    background-color: #004643;
  }
  p {
    font-family: "Share Tech";
    color: #004643;
  }
  .redtext {
    color: red;
  }
  .img {
    border-style: dotted;
    padding: 1%;
    color: #004643;
    
  }
  .red {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 5px;
    display: inline-block;
  }
  .green {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 5px;
    display: inline-block;
  }
  .blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
    display: inline-block;
  }
